# FIND EVEN NUMBER IN PYTHON USING FOR LOOP

In [9]:
for i in range(2,11,2):
    print(i)

2
4
6
8
10

# SUM OF FIRST NATURAl NUMBER

In [13]:
a=int(input())
n=0
for i in range(1,a+1):
    n=i+n
print(n)

15

# PRINT EACH CHARACTER IN STRING

In [1]:
name="rishana"
for i in name:
    print(i)

r
i
s
h
a
n
a

# MULTIPLICATION TABLE

In [8]:
number=int(input())
for i in range(1,11):
    print(number,"x",i,"=",number*i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

# CHECK PRIME OR NOT

In [38]:
n=int(input())
if n<=1:
    print(n,'not prime')

else:
    is_prime=False
    for i in range(2, n):
        if n%i==0:
            is_prime=True
            break
if is_prime:
    print(n,' is not a  prime numbr')
else:
    print(n," is   a prime")

8  is not a  prime numbr

# FACTORIAL OF A NUMBER

In [37]:
a=int(input())
factorial=1
for i in range(1,a+1):
     factorial=i*factorial
print(factorial)

5040

# PRINT FIRST 10 ITEMS OF FEBONACCI SERIES

In [1]:
a,b=0,1
for i in range(10):
    print(a,end=" ")
    a,b=b, a+b

0 1 1 2 3 5 8 13 21 34

# WRITE PROGRAM TO PRINT ANY TWO PATTERNS

In [1]:
row=5
for i in range(1,row+1):
    for j in range (1,i+1):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5